/*
Theme Name: ArdantSlate
Theme URI: http://ardant.co.uk
Author: Ardant
Author URI: http://ardant.co.uk/
Description: Ardantslate, built on Tidytheme's Blankslate template.
Version: 2.0.0
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Text Domain: ardantslate
ArdantSlate is distributed under the terms of the GNU GPL
*/
.post-edit-link {
	display:none;	
}

body {
	font-size: 16px;
	line-height: 1.4;	
	font-family: merriweather, sans-serif;
}

#site-title, #site-title h1 {
	font-size: 25px;
    margin: 10px 0;	
}

ul.xoxo {
	list-style-type: none;	
}

#footer {
	position:fixed;	
	bottom : 0;
	font-size: 12px;
	padding: 10px 0;
}

h1 {
	font-size: 20px;
	font-weight: normal;	
}

h3 {
	font-size: 18px;
	font-weight: normal;	
}